main {
    background-color: #76bedb;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

img {
    width: 200px;
}

section article {
    border: 1px solid black;
    padding: 15px; 
} 

section article img, section article p {
    display: inline-block;
    vertical-align: middle;
}

section article p {
    color: rgb(21, 21, 177);
}